---
import './service.css'
import { Accordion } from './Accordion';
---
<div class="wrapper">
    <div class="background-head"/>
    <div class="content">
        <h1>Fyzioterapie pro děti a miminka</h1>
        <p>Senzorická integrace je proces, díky němuž náš mozek zpracovává smyslové podněty a přetváří je na přiměřené reakce. Je zásadní pro efektivní učení a správnou reakci na podněty z okolí. Terapie, vyvinutá Annou Jean Ayres, používá smyslové stimulace k podpoře přiměřených reakcí, čímž pomáhá dětem organizovat a zpracovávat podněty. Cílem je zlepšit motoriku, koordinaci a schopnost soustředění, a to pomocí hry v bezpečném, stimulujícím prostředí.</p>
        <Accordion title="Fyzioterapie kojenců a mladších dětí (0-4roky)" client:only="react">
            <ul>
                <li>Preventivní kontrola psychomotorického vývoje (PMV)</li>
                <li>Konzultace zacházení (handlingu) s miminkem</li>
                <li>Fyzioterapie u šikmých krků a fixované predilekce hlavy</li>
                <li>Fyzioterapie u asymetrie psychomotorického vývoje</li>
                <li>Fyzioterapie u dětí s gastroezofageálním refluxem</li>
                <li>Konzultace výběru prvních botiček</li>
                <li>Fyzioterapie u dětí s DMO</li>
                <li>Fyzioterapie u dětí s parézou brachiálního plexu</li>
                <li>Fyzioterapie u dětí s genetickými syndromy projevujícími se neurologickým deficitem</li>
                <li>Snížení bolestivosti/korekce segmentu s využitím kineziotapingu</li>
            </ul>
        </Accordion>
        <Accordion title="Fyzioterapie dětí od 5 let" client:only="react">
            <ul>
                <li>Bolestivé stavy pohybového systému: akutní i chronické bolesti zad, bolesti hlavy</li>
                <li>Skolióza (vrozené i získané)</li>
                <li>Vadné držení těla, vrozené vady kyčelních kloubů, funkční korekce plochonoží</li>
                <li>Poúrazové a pooperační stavy: zlomeniny kostí, výrony a luxace kloubů, operace menisků, vazů, vrozených vad nohy</li>
                <li>Korekce správného sedu ve škole</li>
                <li>Neurologické potíže: dětská mozková obrna (DMO) různého typu, parézy, metabolické poruchy</li>
                <li>Zlepšení pohybové koordinace u dětí s poruchou pozornosti (ADD) i s poruchou pozornosti s hyperaktivitou (ADHD)</li>
                <li>Uvolnění ruky pro grafomotorický nácvik</li>
                <li>Sportovní fyzioterapie: léčba po sportovních úrazech, kompenzační cvičení, trénink stabilizace páteře a aktivace bráničního dýchání jako prevence vzniku úrazu z přetížení</li>
                <li>Terapii lze přizpůsobit i dětem s mentální poruchou či kompenzovanou epilepsií</li>
            </ul>
        </Accordion>
        <Accordion title="Senzorická integrace" client:only="react">
            <p>Senzorická integrace je proces, díky němuž dokážeme přijímat informace prostřednictvím našich smyslů, zpracovat je a používat v každodenním životě.</p>
            <h4>Senzorické zpracování zahrnuje:</h4>
            <ul>
                <li>Zrak</li>
                <li>Sluch</li>
                <li>Čich</li>
                <li>Chuť</li>
                <li>Hmat – taktilní vnímání</li>
                <li>Rovnováha – vestibulární vnímání</li>
                <li>Vnímání těla – propriorecepce</li>
            </ul>
            <p>Senzorická integrace je důležitou schopností pro proces učení. Znamená schopnost mozku zpracovat přicházející smyslové informace za účelem jejich použití. Je to proces, při kterém náš mozek zpracovává, třídí a organizuje všechny smyslové podněty z vnějšího i vnitřního prostředí. Pokud tento proces funguje a podněty jsou zpracované správně a přiměřeně, náš organismus na dané podněty správně reaguje (např. akceptujeme dotek druhé osoby, kontakt s různými předměty, tolerujeme zvuky, naše pohyby jsou plynulé a koordinované, dokážeme se orientovat ve svém prostředí, soustředíme se na činnost, atd.).</p>
            <p> Proces senzorické integrace je u většiny jednotlivců efektivní; přijímají a zpracovávají informace a přiměřeně na ně reagují. Také učení je jednoduché a „dobré“ chování je přirozeným následkem. Pokud senzorická integrace nefunguje správně, dítě, žák nebo klient je nepřiměřeně aktivní, nedokáže sedět za stolem, nebo je naopak „zasněný“. Má problémy s jemnou motorikou, obratností, vyhýbá se pohybovým aktivitám. Má těžkosti s artikulací, nebo je jeho vývoj řeči opožděný. Reaguje na některé situace příliš impulzivně. Nesoustředí se, má problémy se čtením, psaním nebo počítáním. Tyto projevy a mnohé jiné často spadají pod některé diagnózy nebo je dítě pouze označené za „problémové“ nebo „rizikové“. Za těmito projevy se však může skrývat i jiná příčina a tou je problém v oblasti senzorické integrace.</p>
            <p>Děti a jednotlivci s poruchou senzorického zpracování nedokáží převést přicházející smyslové informace do přiměřených reakcí.</p>
            <h4>Terapie s prvky senzorické integrace</h4>
            <p>Je metoda/terapeutický přístup, který vypracovala v 70. letech americká ergoterapeutka Anna Jean Ayres. Základním východiskem této metody je cílené poskytování smyslových stimulů tak, aby si dítě mohlo spontánně formovat přiměřené reakce na přicházející podněty (adaptivní odpovědi). Nové smyslové zkušenosti v přiměřené formě by měly dítěti pomoci organizovat a uspořádat přicházející podněty, a tedy je přiměřeně zpracovat a přiměřeně na ně reagovat, a podpořit tak další učení.</p>
            <p>Terapie senzorické integrace se uskutečňuje v upraveném prostředí, které dítě stimuluje k pohybu a k aktivitě. V tomto prostředí (místnost pro senzorickou integraci) se nacházejí různé typy houpaček, závěsných sítí nebo vaků. Kromě toho v něm lze najít různé překážky, nakloněné roviny, duté válce, pojízdné desky, zátěžové pomůcky, předměty s různými texturami a jiné. Prostředí je zároveň bezpečné.</p>
            <p>V terapii senzorické integrace existuje rovnováha mezi svobodou dítěte a strukturou terapie. Všechno probíhá prostřednictvím hry. Při terapii se snažíme působit hlavně na vestibulární, proprioceptivní a taktilní vnímání.</p>
            <p>Terapie je vhodná pro děti od 4 let.</p>
        </Accordion>
        <!--<Accordion title="Snoezelen" client:only="react">-->

        <!--</Accordion>-->
    </div>
    <div class="background-footer"/>
</div>