---
import './service.css'
---
<div class="wrapper">
    <div class="background-head"/>
    <div class="content">
        <h1>Fyzikální terapie</h1>
        <p><b>Elektroléčba</b> je část fyzikální terapie, při které se využívá léčebný účinek různých forem elektrické energie. Elektrický proud se dostává přes kůži do lidského těla pomocí přiložených elektrod a jeho léčebný efekt závisí na použité frekvenci. Optimální frekvenci indikuje na základě vyšetření erudovaný lékář, nebo fyzioterapeut. Nejčastěji se používají nízkofrekvenční a středofrekvenční proudy.</p>
        <p>Elektroléčebné procedury jsou bezpečné a používají se nejvíce při ortopedických, revmatologických, neurologických a cévních diagnózách. Mají účinek analgetický (protibolestivý), myorelaxační (uvolňující svalové spazmy), hyperemický (zlepšující prokrvení a antiedematózní (proti otokům).</p>
        <p>Podle jednotlivých diagnóz se používá 7 - 10 aplikací, přičemž délka procedur je cca 20 minut.</p>
        <p>Vysokovýkonový laser je neinvazivní terapeutický přístroj určený k emisi energie infračerveného spektra, která proniká hlboko do svalových a kostrových tkání bez toho, aby poškodila povrchovou vrstvu kůže. S maximálním výkonem až 20 W umožňuje výjimečně hluboký průnik laserového světla. Je ideální pro léčbu bolestivých onemocnění, které postihují svalový a pohybový aparát od najpovrchovějších až po nejhlubší zóny.</p>
        <p>Absorbci záření dochází k excitaci molekul a ovlivnění biochemických reakcí v buňkách a tkáních. Ta má za následek urychlení lokálního hojení, zvýšení metabolismu tkání a analgetickou reakci.</p>
        <p>Velkou výhodou vysokovýkonové laserové terapie je extrémně přesné zacílení do přesně definované léčebné oblasti i hloubky tkaniva. Laser má velmi vysokou klinickou úspěšnost s dlouhodobými účinky a silným analgetickým efektem bez nutnosti farmakoterapie.</p>
    </div>
    <div class="background-footer"/>
</div>