---
import './service.css'
import { Accordion } from './Accordion';
---
<div class="wrapper">
    <div class="background-head"/>
    <div class="content">
        <h1>Podologie</h1>
        <p>Podologie je specializovaná oblast fyzioterapie zaměřená na diagnostiku a léčbu poruch nohou, které ovlivňují držení těla a pohyb. Využívá se podoskop pro diagnostiku opory nohy, senzomotorická stimulace, manuální techniky a cvičení na balančních plochách. Podoskop umožňuje detailní vyšetření chodidel, včetně analýzy zatížení, postavení a rotace kloubů. Terapie pomáhá zlepšit stabilitu a kvalitu chůze.</p>
        <Accordion title="Fyzioterapie nohy" client:only="react">
            <p>Podologie je specializovaná oblast fyzioterapie zaměřená na diagnostiku, léčbu a prevenci poruch a dysfunkcí nohou. Cílem je podpora fyziologické funkce plosky nohy a korekce její patologie v souvislosti s držením a pohybovými funkcemi celého těla.</p>

            <p>Ploska nohy je důležitý orgán, který ovlivňuje stabilitu a kvalitu chůze. Nesprávné pohybové stereotypy způsobují změny i ve fungování plosky nohy.</p>

            <h4>Je využíváno:</h4>
            <ul>
                <li>Podoskopu pro diagnostiku opory nohy</li>
                <li>Senzomotorické stimulace nohy, kdy se noha učí vnímat a reagovat na různé podněty prostřednictvím nervové soustavy a svalového systému dolních končetin</li>
                <li>Manuálních, fasciálních a mobilizačních technik</li>
                <li>Cvičení na balančních plochách, které zlepšuje rovnováhou a reakční schopností svalů</li>
            </ul>
        </Accordion>
        <Accordion title="Podoskop" client:only="react">
            <p>Základem dobré péče je odborné komplexní statické a dynamické vyšetření pohybového aparátu se zaměřením na plosku nohy. Statické vyšetření plosky se provádí na moderním přístroji pro diagnostiku vad nohou – podoskopu.</p>
            <p>Podoskop umožňuje podrobně hodnotit různě zatížené partie chodidel. Odhalí vady drobných kloubů nohy, postavení, tlak a rotaci patních kostí i jednotlivých částí chodidla vůči sobě. Vyšetření na podoskopu je možné v průběhu terapie opakovat, snímky se archivují ke kontrolnímu vyšetření.</p>
            <p>Pro samoplátce nabízíme služby naší fyzioterapeutky <strong>Mgr. Ireny Horáčkové</strong>, která má mnohaletou praxi v oblasti podologie.</p>
            <p><a href="https://www.fyzioterapy.cz/podologie/?lang=cs" target="_blank">Více informací</a></p>
        </Accordion>
    </div>
    <div class="background-footer"/>
</div>