---
import './service.css'
import { Accordion } from "./Accordion";
---
<div class="wrapper">
    <div class="background-head"/>
    <div class="content">
        <h1>Viscelární terapie</h1>
        <p>Viscerální manipulace je jemná,  manuální terapie, která pomáhá harmonizovat napětí v okolí vnitřních orgánů a přispívá tak k jejich správnému fungování. Fyzioterapeuti využívají tuto techniku např. k léčbě bolestí břicha, zácpy, poruch trávení jako třeba refluxní choroba jícnu a mnoha dalších.</p>
        <Accordion title="Bolesti břicha bez zjevné příčiny" client:only="react">
            <p>Viscerální terapie je speciální terapeutická technika zaměřená na jemnou manipulaci vnitřních orgánů (například žaludek, játra, střeva) s cílem zlepšit jejich funkci a uvolnit napětí. Podporuje přirozený pohyb a flexibilitu orgánů, čímž napomáhá jejich správné funkci. </p>
            <p>Viscerální terapie je efektivní při řešení problémů, jako jsou trávící potíže, bolesti břicha, chronické bolesti nebo stavy vázané na psychické napětí.Pomáhá zlepšit celkovou pohodu a zdraví. Věděli jste, že napětí vnitřních orgánů je také častou příčinou bolestí zad a pohybového systému?</p>
        </Accordion>
        <Accordion title="Gastroezofageální reflux" client:only="react">
            <p>Pálení žáhy, napětí v krku, problémy s hlasivkami.</p>
            <p>Fyzioterapie je účinný doplněk léčby gastroezofageálního refluxu (GERD), který se projevuje návratem žaludeční kyseliny do jícnu, způsobující pálení žáhy a další nepříjemné příznaky. V rámci fyzioterapie využíváme viscerální terapii, která zaměřuje na úpravu napětí v oblasti břicha a bránice. Fyzioterapie podporuje správnou činnost dolního jícnového svěrače, který zabraňují návratu kyseliny do jícnu.</p>
            <p>
                Ve Fyzio světě úspěšně navazujeme na léčbu gastroenterologů a ORL specialistů při hledání neoperačního řešení vašeho problému.
            </p>
            <h4>Výhody fyzioterapie při GERD: </h4>
            <ul>
                <li>Úleva od pálení žáhy a dalších příznaků GERD</li>
                <li>Zlepšení držení těla a uvolnění přetížených svalů</li>
                <li>Podpora normální funkce dolního jícnového svěrače</li>
            </ul>
        </Accordion>
        <Accordion title="Stavy po operacích a péče o jizvu" client:only="react">
            <p>Také chirurgické zákroky (v podstatě každá břišní / hrudní operace) včetně císařských řezů, vedlejší účinky léků nebo chemoterapie mohou vytvářet pojivové srůsty v oblasti vnitřních orgánů. </p>
            <p>Důsledkem procesů hojení jizvy se může vazivová tkáň podpírající kůži vázat na hlubší tkáně a tím postupně vytvořit omezení pohybu jednotlivých vrstev vaziva a vytvořit bolest či diskomfort. V neposlední řadě napětí vaziva ovlivňuje míra stresové zátěže a s tím spojené držení těla.</p>
            <p>Jizva po operaci může způsobovat <b>problémy s trávením, gynekologické obtíže</b> (včetně neplodnosti), <b>bolesti spodních zad, krční páteře, migrény, problémy s dechem, reflux, zácpy</b>, a spoustu dalších obtíží. Neošetřená jizva u dítěte může být zdrojem asymetrie, která se šíří do držení těla a může vést ke skolióze páteře.
            </p>
            <p>Terapie je neinvazivní a bezbolestná, využívá jemných tlaků, tahů a specifických mobilizací orgánů vedoucí k relaxaci vaziva a harmonizaci napětí. Ve většině případů je doplněna o autoterapii v podobě specifických cvičení či autopressury.
            </p>
        </Accordion>
        <Accordion title="Gynekologické obtíže" client:only="react">
            <p>Pooperační, zánětlivé a poporodní stavy v gynekologii doprovází řada změn měkkých tkání v oblasti pánve a břišní dutiny. Vzhledem k tomu, že jde o funkčně vysoce významnou křižovatku nejen pohybového systému, dochází k typickým zřetězením poruch i do dalších oblastí. Klientka často přijde s bolestí bederní páteře nebo SI skloubení, bolestmi hlavy či dechovými obtížemi.</p>
            <p>V návaznosti na laparoskopické operace vaječníků se často objevuje bolest jedné kyčle. Tyto bolesti ale mohou doprovázet i funkční změny, jakými je bolestivá menstruace či bolestivost při styku.</p>
            <p>Bolestivá menstruace, která Vám snižuje pracovní schopnost, není normální stav. Jakékoliv souběžné bolesti, ať už hlavy, zad či podbřišku nejsou pro zdravé tělo ženy přirozené. <b>Fyzioterapie v kombinaci s viscerální terapií zaměřená na oblast břicha, pánevního dna nebo kostrče často přináší trvalou úlevu.</b></p>
        </Accordion>
        <Accordion title="Viscerální terapie u dětí" client:only="react">
            <p>Častým zdrojem bolestí bříška u dětí bývá stres.</p>
            <p>Bolesti bříška u dětí jsou častým problémem, který může mít různé příčiny, od trávicích potíží až po stresové faktory. Pokud vaše dítě trpí opakovanými bolestmi břicha, může být vhodnou volbou viscerální terapie. Tato jemná manuální metoda se zaměřuje na uvolnění napětí vnitřních orgánů a podporu správného fungování trávicího systému.</p>
            <p>Viscerální terapie nejen že pomáhá zmírnit bolesti bříška a zlepšit trávení, ale také působí preventivně, protože řešení problémů v raném věku může předejít potížím v dospělosti. Bříško je totiž klíčové pro páteř a celý pohybový systém, jeho rovnováhu i symetrii.</p>
            <p>V našem centru máme zkušené dětské fyzioterapeuty, rádi vám pomůžeme.</p>
        </Accordion>
    </div>
    <div class="background-footer"/>
</div>