---
import Home from '../components/home/Home.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div>
        <h2>Stránka neexistuje...</h2>
    </div>
</Layout>
<style>
    div {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h2 {
        font-size: 2rem;
        color: var(--salmon-dark);
    }
</style>