---
import EnvelopeIcon from "../icons/EnvelopeIcon.astro";
import PhoneIcon from "../icons/PhoneIcon.astro";
import LocationIcon from "../icons/LocationIcon.astro";
---
<section id="kontakt">
    <div class="contact-info">
        <h2>Kontakt</h2>
        <p class="description">Napište nám co Vás trápí nebo rovnou poptejte volný termín.</p>
        <div class="info-list">
            <div class="info-item"><EnvelopeIcon/><span>fyzioterapiepodlipami@gmail.com</span></div>
            <div class="info-item"><PhoneIcon/><span>+420 731 205 253</span></div>
            <div class="info-item"><LocationIcon/><span>Václavkova 950<br>Mladá Boleslav</span></div>
        </div>
        <div>
            <h3>Ordinační hodiny</h3>
            <b>Pondělí - Pátek</b>
            <p>7:00 - 15:00</p>
        </div>
        <div>
            <h3>Objednávání</h3>
            <b>Pondělí, Středa, Pátek</b>
            <p>8:00 - 12:00</p>
        </div>
    </div>
    <div class="contact-form">
        <h2 class="center">Napište nám</h2>
        <form method="POST" id="form">
            <input type="hidden" name="access_key" value="4f41033e-d528-44f2-8b24-348049446626">
            <label for="input-name">Jméno</label>
            <input id="input-name" type="text" name="name" required/>
            <label for="input-email">Email</label>
            <input id="input-email" type="email" name="email" required/>
            <label for="input-message">Zpráva</label>
            <textarea id="input-message" name="message" required/>
            <div class="gdpr-wrapper">
                <input id="input-gdpr" type="checkbox" name="gdpr" required />
                <div> <label for="input-gdpr">Odesláním formuláře souhlasím se</label> <a target="_blank" href="/GDPR_Pod_Lipami.pdf">zpracováním osobních údajů</a>.</div>
            </div>
            <button id="result" type="submit">Odeslat</button>
        </form>
    </div>
</section>
<script is:inline>

    const form = document.getElementById('form');
    const result = document.getElementById('result');

    form.addEventListener('submit', function(e) {
        const formData = new FormData(form);
        e.preventDefault();

        const object = Object.fromEntries(formData);
        const json = JSON.stringify(object);

        result.innerHTML = "Odesílá se..."

        fetch('https://api.web3forms.com/submit', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            body: json
        })
            .then(async (response) => {
                let json = await response.json();
                if (response.status == 200) {
                    result.innerHTML = 'Zpráva úspěšně odeslána'
                    result.style.backgroundColor = '#64c27a'
                } else {
                    console.log(response);
                    result.innerHTML = json.message;
                }
            })
            .catch(error => {
                console.log(error);
                result.innerHTML = "Něco se nepovedlo";
            })
            .then(function() {
                form.reset();
                setTimeout(() => {
                    result.innerHTML = "Odeslat";
                    result.style.backgroundColor = 'var(--salmon-light)'
                }, 3000);
            });
    });
</script>
<style>
    p {
        margin: 0;
    }
    h2 {
        font-size: 26px;
        padding: 0;
        margin: 0;
        font-weight: normal;
    }
    h3 {
        font-size: 20px;
        font-weight: normal;
        margin: 24px 0 10px;
    }
    form {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    label {
        font-size: 14px;
        margin: 15px 0 5px;
    }
    input {
        min-width: 100px;
        max-width: 300px;
        height: 32px;
        border-radius: 3px;
        border: none;
        box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25);
        font-family: Sofia Sans, sans-serif;
        padding-left: 8px;
    }
    .gdpr-wrapper {
        margin: 10px 0 0;
        display: flex;
        gap: 10px;
        align-items: center;
        a {
            font-size: 14px;
            padding: 0;
        }
        label {
            margin: 0;
            font-size: 14px;
        }
    }
    #input-gdpr {
        min-width: 20px;
        height: 20px;
        accent-color: var(--green-light);
    }
    textarea {
        width: min(60vw, 400px);
        height: 200px;
        border-radius: 3px;
        border: none;
        box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25);
        font-family: Sofia Sans, sans-serif;
        padding: 8px;
    }
    button {
        cursor: pointer;
        padding: 8px 20px;
        font-size: 18px;
        background-color: var(--salmon-light);
        font-family: Sofia Sans, sans-serif;
        border: none;
        border-radius: 10px;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
        width: fit-content;
        color: black;
        margin: 30px 0 0;
    }
    button:hover {
        box-shadow: 0 0 10px white;
    }
    #kontakt {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 100px;
        background-image: linear-gradient(white, var(--background-light-blue), var(--background-light-blue), var(--background-light-blue), var(--background-light-blue), var(--background-light-blue), var(--background-light-blue), white);
    }
    .contact-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 58px 102px 66px 80px;
        background-color: var(--salmon-light);
        border: solid var(--salmon-dark);
        border-width: 4px 0 4px 4px;
        height: min-content;
        border-radius: 50px 0 0 50px;
    }
    .contact-form {
        background-color: var(--green-lighter);
        box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.3);
        border-radius: 50px;
        padding: 50px;
    }
    .center {
        text-align: center;
    }
    .info-list {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px
    }
    .info-item {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .description {
        font-size: 18px;
        color: var(--salmon-darker);
        width: 240px;
    }
    @media (max-width: 1000px) {
        #kontakt {
            flex-direction: column;
        }
        .contact-info {
            padding: 40px 40px 58px;
            background-color: var(--salmon-light);
            border: solid var(--salmon-dark);
            border-radius: 40px 40px 0 0;
            border-width: 4px 4px 0 4px;
        }
        .contact-form {
            position: relative;
            bottom: 16px;
            padding: 40px;
            width: min(70vw, 500px);
            border-radius: 40px;
        }
        .info-item {
            font-size: 14px;
        }
        input {
            min-width: 100px;
            max-width: 300px;
        }
        textarea {
            width: initial;
        }
        h2 {
            font-size: 22px;
        }
        label {
            font-size: 12px;
        }
        .description {
            font-size: 15px;
            color: var(--salmon-darker);
            width: min(50vw, 360px);
            min-width: 180px;
        }
    }
    @media (max-width: 350px) {
        .contact-form {
            padding: 30px 5vw;
            width: 90vw;
            border-radius: 20px;
        }
        .contact-info {
            width: 80vw;
            padding: 15px 5vw 40px 5vw;
            border-radius: 20px 20px 0 0;
        }
    }
</style>