---
import HeroSection from "./HeroSection.astro"
import Quote from "./Quote.astro"
import ServicesSection from "./ServicesSection.astro"
import InsuranceCompanies from "./InsuranceCompanies.astro"
import ContactSection from './ContactSection.astro'
---
<main>
    <HeroSection/>
    <!--<div class="container">-->
    <!--    <div class="section">-->
    <!--        <p>-->
    <!--            Milí klienti, od ledna 2026 nás nově najdete na této adrese:-->
    <!--        </p>-->
    <!--        <p class="highlight">-->
    <!--            📍 Hotel Galatea<br>-->
    <!--            Pod koupalištěm 881, Kosmonosy-->
    <!--        </p>-->
    <!--    </div>-->

    <!--    <div class="section">-->
    <!--        <p class="highlight">🟢 Zahájení provozu:</p>-->
    <!--        <p>-->
    <!--            V pondělí <strong>5. 1. 2026</strong> zahajujeme provoz v nových prostorách.-->
    <!--        </p>-->
    <!--    </div>-->

    <!--    <div class="section">-->
    <!--        <p class="highlight">➡️ Hlavní vchod – recepce:</p>-->
    <!--        <p>ordinace Bc. Kateřiny Štěpánkové</p>-->

    <!--        <p class="highlight">➡️ Vedlejší vchod (wellness):</p>-->
    <!--        <p>ostatní fyzioterapeuti, elektroléčba, magnetoterapie, laser</p>-->
    <!--    </div>-->

    <!--    <div class="section">-->
    <!--        <p class="highlight">📞 Objednávání:</p>-->
    <!--        <p>-->
    <!--            PO–ST–PÁ | 8:00–12:00<br>-->
    <!--            SMS: <a href="tel:+420731205253">+420 731 205 253</a><br>-->
    <!--            ✉️ <a href="mailto:fyzioterapiepodlipami@gmail.com">fyzioterapiepodlipami@gmail.com</a><br>-->
    <!--        </p>-->
    <!--    </div>-->

    <!--    <p>-->
    <!--        Těšíme se na vás v nových prostorách 💚<br>-->
    <!--        <strong>Fyzioterapie pod lipami</strong>-->
    <!--    </p>-->
    <!--</div>-->
    <Quote>Naše centrum Vám nabízí komplexní ambulantní služby v oboru fyzioterapie a léčebné rehabilitace, pro všechny věkové kategorie.</Quote>
    <InsuranceCompanies/>
    <Quote>Jsme ambulantní nestátní zdravotnické zařízení zaměřené na diagnostiku, terapii a prevenci všech problémů pohybového aparátu, tedy bolestí zad, kloubů a svalů, funkčních i degenerativních onemocnění, poúrazových a pooperačních stavů i problémů z oblasti neurologie, gynekologie, urologie či jiných internterních oborů.</Quote>
    <ServicesSection/>
    <ContactSection/>
</main>
<style>
    .container {
        max-width: 900px;
        margin: 0 auto;
        padding: 20px;
        font-size: 1.4em;
    }
    a {
        font-size: 1.1em;
    }
    .highlight {
        font-weight: bold;
    }
    .section {
        margin-bottom: 8px;
    }
    @media (max-width: 600px) {
        .container {
            font-size: 1em;
        }
    }
</style>