---
import HeroSection from "./HeroSection.astro"
import Quote from "./Quote.astro"
import ServicesSection from "./ServicesSection.astro"
import InsuranceCompanies from "./InsuranceCompanies.astro"
import ContactSection from './ContactSection.astro'
---
<main>
    <HeroSection/>
    <Quote>Naše centrum Vám nabízí komplexní ambulantní služby v oboru fyzioterapie a léčebné rehabilitace, pro všechny věkové kategorie.</Quote>
    <InsuranceCompanies/>
    <Quote>Jsme ambulantní nestátní zdravotnické zařízení zaměřené na diagnostiku, terapii a prevenci všech problémů pohybového aparátu, tedy bolestí zad, kloubů a svalů, funkčních i degenerativních onemocnění, poúrazových a pooperačních stavů i problémů z oblasti neurologie, gynekologie, urologie či jiných internterních oborů.</Quote>
    <ServicesSection/>
    <ContactSection/>
</main>