---
---
<div id="insurance-companies">
    <h2>Spolupracujeme:</h2>
    <div class="flex">
        <img src="/pojistovny/zps.png" height="100px" alt="logo-pojistovny"/>
        <img src="/pojistovny/zpmv.png" height="84px" alt="logo-pojistovny"/>
        <img src="/pojistovny/vzp.png" height="70px" alt="logo-pojistovny"/>
        <img src="/pojistovny/vozp.png" height="72px" alt="logo-pojistovny"/>
        <img src="/pojistovny/ozp.png" height="68px" alt="logo-pojistovny"/>
    </div>
</div>
<style>
    #insurance-companies {
        margin-top: 100px;
    }
    h2 {
        color: var(--green-dark);
        text-align: center;
        letter-spacing: 1px;
    }
    .flex {
        display: flex;
        gap: 70px;
        align-items: center;
        width: 100%;
        justify-content: center;
        margin: 40px 0 100px;
    }
</style>