---
---
<blockquote>
    <div>
        <slot/>
    </div>
</blockquote>
<style>
    blockquote {
        display: flex;
        max-width: 900px;
        gap: 20px;
        font-size: 24px;
        color: var(--salmon-dark);
        margin: 0 auto 50px;
        line-height: 34px;
        width: fit-content;
    }
</style>