---
---
<blockquote>
    <div id="line"/>
    <div id="content">
        <slot/>
    </div>
</blockquote>
<style>
    #line {
        width: 20px;
        margin-right: 40px;
        background-color: var(--salmon-light);
        filter: blur(5px);
        flex-shrink: 0;
    }
    blockquote {
        display: flex;
        gap: 20px;
        font-size: 20px;
        color: var(--salmon-dark);
        margin: 0 auto 50px;
        line-height: 28px;
        width: 80%;
        max-width: 1000px;
    }
    @media (max-width: 1150px) {
        blockquote {
            margin-top: 60px;
            font-size: 18px;
            line-height: 25px;
        }
        #line {
            width: calc(10px + 1%);
            margin-right: calc(2px + 4%);
        }
    }
</style>