---
const { title, text, image, path } = Astro.props;
---
<div id="flex">
    <img src={image} alt="service-ilustration">
    <div id="information">
        <h3>{title}</h3>
        <p>{text}</p>
        <a href={`/sluzby/${path}`}><button>Více</button></a>
    </div>
    <div id="background"/>
</div>
<style>
    img {
        height: 360px;
        z-index: 10;
        margin-top: 24px;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    }
    #background {
        position: absolute;
        height: 400px;
        width: 80vw;
        right: 0;
        background-image: linear-gradient(to right,white, var(--salmon-light), var(--salmon-light));
        //background-color: var(--salmon-lighter);
        border: solid var(--salmon-dark);
        border-width: 4px 0 4px 4px;
        border-radius: 80px 0 0 80px;
        z-index: 0;
    }
    #flex {
        display: flex;
        gap: 40px;
    }
    #information {
        padding: 50px calc(10px + 6vw) 40px 4vw;
        max-width: 900px;
        z-index: 10;
        margin: auto 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    h3 {
        color: var(--salmon-dark);
        font-size: 26px;
        margin: 0;
        z-index: 10;
    }
    p {
        font-size: 18px;
        z-index: 10;
        line-height: 26px;
    }
    button {
        padding: 8px 20px;
        font-size: 18px;
        background-color: var(--background-light-blue);
        font-family: Sofia Sans, sans-serif;
        border: none;
        border-radius: 8px;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
        width: min-content;
        color: black;
        cursor: pointer;
    }
    button:hover {
        box-shadow: 0 0 10px white;
    }
    @media (max-width: 1150px) {
        #background {
            display: none;
        }
        #flex {
            width: 90%;
            max-width: 700px;
            margin: 0 auto;
            flex-direction: column;
            background-color: var(--salmon-light);
            border: solid var(--salmon-dark);
            border-width: 4px;
            border-radius: 40px;
            z-index: 0;
            gap: 0;
        }
        img {
            height: auto;
            max-height: 360px;
            max-width: 90%;
            margin: 0 auto;
            position: relative;
            bottom: 80px;
        }
        #information {
            max-width: 500px;
            margin: 0 auto;
            padding: 0 24px 0 24px;
            position: relative;
            bottom: 40px;
        }
        p {
            font-size: 16px;
            line-height: 23px;
        }
    }
</style>